* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 15px;
}

.contenedor_lista {
  width: 50%;
  padding: 15px;
  margin-top: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.contenedor_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.carrito_img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.contenedor_items {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.lista {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 24px;
}

.img-item {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}